html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0E273C;
}

.profilePic {
    width: 150px;
    border-radius: 20px;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    background-color: #E8D7F1;
    /* border-bottom: 8px solid #0E273C; */
    border-radius: 20px;
    box-shadow: 15px 10px;
    opacity: 0;
}

.border {
    border: 2px solid lightblue;
}

.profileInfo {
    text-align: center;
}

.card.show {
    opacity: 1;
}